<div class="d-flex justify-content-center calcheight">
		<div class="card">
			<div class="card-header">
				<h3>Registration</h3>
			</div>
			<div class="card-body">
				<form>
					<table>
					<tr>
					<td>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Firstname</span>
						</div>
						<input type="text" class="form-control">&nbsp;						
					</div>
					</td>
					<td>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text">Lastname</span>
						</div>
						<input type="text" class="form-control">
					</div>
					</td>
					</tr>
					<td colspan="2"><hr></td>
					<tr>
					<td colspan="2">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at">&nbsp; Email</i></span>
						</div>
						<input type="text" class="form-control">						
					</div>
					</td>
					</tr>
					<td colspan="2"><hr></td>
					<tr>
					<td>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user">&nbsp; Username</i></span>
						</div>
						<input type="text" class="form-control">&nbsp;						
					</div>
					</td>
					<td>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key">&nbsp; Password</i></span>
						</div>
						<input type="password" class="form-control">
					</div>
					</tr>
					&nbsp;
					</table>
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-left links">
					Already registred?<a routerLink="/login">Login</a>
				</div>
			</div>			
		</div>
	</div>
