<style>
  .card {
    position: relative;
    top: 25px;
    border-radius: 15px;
  }
</style>
<div class="row h-100">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
        
            <div class="alert alert-danger" *ngIf="errorMessage != null">
              {{errorMessage}}
              <button type="button" class="close float-right" aria-label="Close" (click)="errorMessage = null">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        
            <form (submit)="createNews($event)">
              <div class="form-group">
                <label>Content <span [ngClass]="getCharsLeft() < 0 ? 'text-danger' : 'text-muted'">({{getCharsLeft()}})</span></label>
                <textarea name="content" rows="4" class="form-control" required [(ngModel)]="content" placeholder="Type your message here.."></textarea>
              </div>
              <button class="btn btn-block btn-outline-primary" [disabled]="getCharsLeft() < 0">Create News</button>
            </form>
        
          </div>
        </div>
  </div>
</div>

