<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.btn {
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  float: right;
}

/* Darker background on mouse-over */
.btn:hover{
  background-color: red;
}
  .list-group {
    background-color: white;
    height: calc(100% - 50px);
    margin-top: 25px;
    border-radius: 15px;
  }
  .list-group-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .content {
    background-color: #e6f2ff;
  	width: 700px;
  	border: 1px solid white;
  	padding: 10px;
  	margin: 20px;
  	word-wrap: break-word;
  }  
  .buttons {
    position: absolute;
    top: 0;
    right: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
  
</style>
<div class="row h-100">
  <div class="col-12">
    <div class="alert alert-info" *ngIf="news.length == 0">
        No news available
      </div>
      <div class="list-group" *ngIf="news.length > 0">
        <div class="list-group-item d-flex flex-row" *ngFor="let n of reversedNews; let i = index" [class.list-group-item-primary]="n.headline == currentUser()">
          	
	         	 <div class="w-100 mr-2">
					  
					<table>
						<tr>
							<h6 class="mb-0">{{n.headline}}</h6>
							<span class="buttons" *ngIf="n.headline == currentUser()">
								<button (click)="deleteNews(n.id)" class="btn"><i class="fa fa-trash"></i></button >
								<button (click)="editNews(n.id)" class="btn"><i class="fa fa-edit"></i></button >            
							</span> 
						</tr>
						<tr><div class ="content" *ngIf="!onEdit"> {{n.content}} </div></tr> 
						<div class ="content" *ngIf="onEdit && n.id == editId">
							<form (submit)="saveChanges(n.id)">
								<textarea name="content" rows="2" class="form-control" required [(ngModel)]="newContent"> {{n.content}} </textarea>									
								<button type="submit" class="btn"><i class="fa fa-save"></i></button >    
							</form>	
						</div>
						<tr><small>{{n.publishedOn | date:mediumDate}}</small></tr>
					</table>

				</div>         
        </div>
      </div>
  </div>
</div>
    
